<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CryptoExportImportManager.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>CryptoLoadExternalCertificate.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>CryptoManager.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>DemoApp.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>RSA_AES_Swift.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>RsaAesCbcSwift.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>SecUtilsSwift.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>UITests.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>668B94D31BC3D19F00913B83</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E235088F2229886C00FBC02E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E235089F22298A1200FBC02E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E23508C82229937E00FBC02E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E23508E02229954C00FBC02E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E23508E82229954C00FBC02E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E2850D9E222387D200D7118A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E2850DA6222387D200D7118A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
